.owner {
    width: 100%;
    padding: 3vw 3vw;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0;
}

.owner img{
    width: 150px;
    height: 150px;
    border: 10px solid #212EA0;
    border-radius: 50%;
    /* margin-left: 10vw; */
}

.owner p1{
    width: 30%;
    margin-top: 12vw;
    margin-left: 3vw;
}

.left-pro{
    width: 50%;
    text-align: center;
}

@media (max-width: 650px) {
    .owner {
        flex-direction: column;
    }
    .left{
        flex-basis: 100%;
        margin: 5px;
        font-size: 12px;
    }
}